/* reset css */

p {
    padding: 0;
    margin: 0;
}

/* wrapper styling */

html, body {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
}

#wrapper {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 100%;
    height: 100%;
}

#wrapper.toggled {
    padding-left: 80%;
}

/* sidebar wrapper styling */

#sidebar-wrapper {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow-y: auto;
    height: 100%;
    width: 0;
    position: fixed;
    left: 80%;
    z-index: 0;
    margin-left: -80%;
}

#wrapper.toggled #sidebar-wrapper {
    width: 100%;
}

/* content wrapper styling */

#page-content-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
}

#wrapper.toggled #page-content-wrapper {
    margin-right: -80%;
}

.container-fluid {
    width: 100%;
    height: 100%;
    padding: 0;
}

/* sidebar styling */

.sidebar-nav {
    top: 0;
    width: 80%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #eee;
}

/* positional styling */

.container-fluid {
    position: absolute;
    overflow-y: auto;
    height: 100%;
}

.nav-container {
    position: fixed;
    width: 100%;
    height: 4em;
    z-index: 1000;
}

.content {
    /* margin or padding? */
    padding: 1em;
    margin-top: 4em;
}

/* backdrop styling */

.backdrop {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgb(0, 0, 0, 0.5);
    opacity: 0;
}

.backdrop-enabled {
    z-index: 999;
    opacity: 0.3;
}

/* general styling */

body {
    background: #122932;
    color: #779CAB;
}

.navbox {
    width: 100%;
    height: 4em;
    margin: auto;
    box-shadow: inset 1px 2px 5px rgba(255, 255, 255, 0.2), inset -1px -2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    background: #022F40;
}

.navbar-brand, .sidebar-brand {
    display: flex;
    align-items: center;
}

hr {
    margin-top: 2em;
    margin-bottom: 2em;
    background: #779CAB;
}

.nav-icon {
    width: 2em;
    height: 2em;
}

.nav-link {
    width: 100%;
    height: 100%;
}

object {
    filter: invert(100%);
    pointer-events: none;
}




/* form styling */

.form-group>input {
    background: #FCFFEB;
}