/* wrapper styling */

html, body {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
}

#wrapper {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 80%;
}

/* sidebar wrapper styling */

#sidebar-wrapper {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow-y: auto;
    width: 0;
    left: 80%;
    z-index: 0;
    margin-left: -80%;
}

#wrapper.toggled #sidebar-wrapper {
    width: 100%;
}

/* content wrapper styling */

#wrapper.toggled #page-content-wrapper {
    margin-right: -80%;
}

/* sidebar styling */

.sidebar-nav {
    top: 0;
    width: 80%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #eee;
}

/* positional styling */

.container-fluid {
    overflow-y: auto;
}

.nav-container {
    height: 4em;
    z-index: 1000;
}

.content {
    /* margin or padding? */
    padding: 1em;
    margin-top: 4em;
}

/* backdrop styling */

.backdrop {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    /* position: fixed;
    width: 100%;
    height: 100%; */
    z-index: -1;
    background-color: rgb(0, 0, 0, 0.5);
    opacity: 0;
}

.backdrop-enabled {
    z-index: 999;
    opacity: 0.99;
}

/* general styling */

body {
    background: #122932;
    color: #779CAB;
}

.navbox {
    height: 4em;
    box-shadow: inset 1px 2px 5px rgba(255, 255, 255, 0.2), inset -1px -2px 5px rgba(0, 0, 0, 0.2);
    background: #022F40;
}

.sidebar-nav {
    background: #122932;
}

hr {
    margin-top: 2em;
    margin-bottom: 2em;
    background: #779CAB;
}

.nav-icon {
    width: 2em;
    height: 2em;
}

.nav-link {
    color: #779CAB;
}

object {
    filter: invert(100%);
    pointer-events: none;
}

/* form styling */

.form-group>input {
    background: #FCFFEB;
}

.form-icon {
    width: 1.5em;
    height: 1.5em;
}

.logo {
    height: 80%;
}

/* media queries */

@media only screen and (min-width: 480px) {
    .start-picture {
        max-height: 718px;
        max-width: 336px;
    }
}

@media only screen and (min-width: 450px) {
    .gal-img {
        max-height: 716px;
        max-width: 358px;
    }
}

@media only screen and (max-width: 770px) {
    .test {
        display: flex;
    }
}